.item {
    width: 100%;
    display: flex;
    margin-bottom: 15px;
    justify-content: space-between;
}
.item .userInfo {
    width: 100%;
}
.item .userPhoto {
    width: 84px;
    height: 84px;
    border-radius: 50%;
    object-fit: cover;
}
.pagginationItem {
    display: inline-block;
    padding: 5px;
    margin-right: 5px;
    border-radius: 50%;
}

.activePagginationItem {
    font-weight: bold;
    color: white;
    background: chocolate;
}
