.container {
    grid-area: aside;
    padding: 5px 10px;
}
.container nav .item{
    margin-bottom: 5px;
}
.container nav a{
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 24px;
    text-decoration: none;
    color: brown;
    transition: .5s;
}
.container nav a:hover {
    color: #731d1d;
}
.container nav a.active {
    color: chartreuse;
}

.friends_bar {
    margin-top: 30px;

}
