.profile_info {
    display: flex;
    justify-content: flex-start;
    padding: 0 30px;
}

.avatar {
    width: 200px;
    height: 200px;
}

.info {
    padding-left: 20px;
    padding-top: 10px;
}

